.map-container {
	width: 90%;
	height: 80vh;
	margin: auto;
}

.map {
	height: 80vh;

	border-style: solid;
	border-width: 0.3rem;
	border-radius: 1rem;
}

.search-container {
	position: absolute;
	top: 20vh;
	left: 35vw;
	width: 30vw;
	z-index: 1;
}

.combobox-input {
	width: 100%;
	padding: 0.5rem;
}

.combobox-option {
	list-style: none;
	border: solid;
	border-top: none;
	background-color: white;
	padding: 0.5rem;
}
